{% extends 'base.html' %}

{% block body %}
<nav>
    <ul>
        <li><a href='/index'>Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="/Data">Data</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="/Graph">Graph</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='/logout'>Sign Out</a></li>
    </ul>
</nav>

<header class='war_deaths'>
    <section class='banner'>
        <div class='inner'>
            <h1>U.S. War Deaths</h1>
            <hr/>
            <h1>The Results Resquested</h1>
        </div>
    </section>
</header>

<p>{{ number }}</p>


{% endblock %}
