{% extends 'base.html' %}

{% block body %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
<style type="text/css">
    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }
</style>

<nav>
    <ul>
        <li><a href='/index'>Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="/index">Data</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='/thought'>Thoughts</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="/Graph">Graph</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='/logout'>Sign Out</a></li>
    </ul>
</nav>


<main>
</main>

<section>
    <h1 class='section_heading'>Graph Information</h1>
    <p>The above graph will show the amount of deaths in U.S. Wars. It will start
        from the war which had the most American casualties to the least. A few
        pieces of information about the graph:
    </p>
    <ol>
        <li>Hold the mouse pointer over a bar for a few seconds to see more information
        about that bar.</li>
    </ol>
</section>



<footer>
    Copyright &copy; 2017 Double Sun Productions
    <br/>
    <p>
      <a href="https://github.com/ravenusmc"><i className="fa fa-github fa-2x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/"><i className="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/mcuddy1/"><i className="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
</footer>

<script>
    'use strict';

    //This will be a global variable which will be an array of objects
    //to hold all of my data in from the CSV file.
    const warData = [];
    const deaths = [];

    //This function will start the d3 process by pulling the lines of code
    //from the CSV file.
    d3.csv("/my/data/endpoint", function(data) {
        for (let i = 0; i < data.length; i++){
            let war = data[i].War;
            let death = data[i].Dead;
            //I am dividing the Death number by 2000 to bring them down.
            death = Number(death) / 1500;
            deaths.push(death)
            warData.push({ War: war, Deaths: death })
        }

    //Declaring Variables
    let w = 500;
    let h = 500;
    let padding = 20;
    let barPadding = 1;
    let margin = {top: 85, right: 20, bottom: 70, left: 250},
    width = 600 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

    let svg = d3.select("main")
            .append("svg")
            .attr("width", 800)
            .attr("height", 700)
            .append("g")
                .attr("transform","translate(" + margin.left + "," + margin.top + ")");

    let xScale = d3.scaleLinear()
                        .domain([0, 550])
                        .range([0, 500]);

    let yScale = d3.scaleLinear()
					 .domain([750000, 0])
					 .range([0, 500]);

    let xAxis = d3.axisBottom()
    				.scale(xScale)
                    .ticks(10);

    let yAxis = d3.axisLeft()
    				.scale(yScale)
                    .ticks(10);


    svg.selectAll("rect")
       .data(warData)
       .enter()
       .append("rect")
       .attr("x", function(d, i) {
            return i * (w / warData.length);
       })
       .attr("y", function(d){
           return h - d.Deaths;
       })
       .attr("width", w / warData.length - barPadding)
       .attr("height", function(d){
           return d.Deaths;
       })
       .attr("fill", "steelblue")
       .append("title")
       .text(function(d){
           return d.War+":" + " " + d.Deaths * 1500;
       });

    //Create X axis
    svg.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(0," + 500 + ")")
            .call(xAxis)
        .selectAll("text")
            .data(warData)
            .text(function(d){
                return d.War;
            })
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", "-.55em")
            .attr("transform", "rotate(-45)" );

    //Create Y axis
    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(" + 0+ ",0)")
        .call(yAxis);

    });

</script>


{% endblock %}
