{% extends 'base.html' %}

{% block body %}
<script src="https://d3js.org/d3.v4.min.js"></script>

<main>
</main>

<script>

    d3.tsv("/my/data/endpoint", function(data) {
        console.log(data); 
    });


</script>




<!-- <div>
    <footer>
        Copyright &copy; 2017 Double Sun Productions
        <br/>
        <p>
          <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        </p>
    </footer>
</div> -->

{% endblock %}
