{% extends 'base.html' %}

{% block body %}

<div id='container'>
</div>

<script type="text/babel">

    var { Router,
        Route,
        IndexRoute,
        IndexLink,
        hashHistory,
        Link } = ReactRouter;

    var destination = document.querySelector("#container");

    var Navbar = React.createClass({
        render: function(){
            return (
                <div>
                    <nav>
                        <ul>
                            <li><Link to="/">Home</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><Link to="/Data">Data</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><Link to="/Graph">Graph</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><a href='/logout'>Sign Out</a></li>
                        </ul>
                    </nav>
                    <div>
                        {this.props.children}
                    </div>
                </div>
            )
        }
    });

    //All of the components here will make up the Home Page
    var Home = React.createClass({
      render: function() {
        return (
          <div>
            <header className='head_home'>
                <section className='banner'>
                    <div class='inner'>
                        <h1>U.S. War Deaths</h1>
                        <hr/>
                        <h1>Examining Causalites in U.S. Wars</h1>
                    </div>
                </section>
            </header>
            <div className='homeFlex'>
                <Asideone/>
                <Main/>
                <Asidetwo/>
            </div>
            <Footer/>
          </div>
          )
      }
    })

    var Asideone = React.createClass({
        render: function() {
            return (
                <div className='asideOne'>
                    <aside>
                        <h1 className='center'>Memorial Videos</h1>
                        <h3>Vietnam Veterans Memoral Wall</h3>
                        <iframe width="325" height="315" src="https://www.youtube.com/embed/wuxjTxxQUTs" frameborder="0" allowfullscreen></iframe>
                        <h3>I was only 19</h3>
                        <iframe width="325" height="315" src="https://www.youtube.com/embed/1gmgwx77osw" frameborder="0" allowfullscreen></iframe>
                    </aside>
                </div>
            )
        }
    })

    var Main = React.createClass({
        render: function() {
            return (
                <div className='homeMain'>
                    <h1 className='center'>About the Project</h1>
                        <p>This project has two main goals. The first is to continue
                        my web development goals. The second is to make a web site
                        that brings some awareness to U.S. Causalities from all of its
                        wars. In March of 2017, I volunteered at an event called the
                        wall that heals. This wall is a replica of the Vietnam wall.
                        I watched many people look at the replica and could see that
                        they were very touched by it. Thus, I have decided to make a
                        project that enhances both my web development skills and teaches
                        others about the wars our country has fought.
                        </p>
                    <hr/>
                    <h1 className='center'>Goals</h1>
                        <h3>For Site:</h3>
                            <ul>
                                <li>Provide access to U.S. Casualities during war</li>
                                <li>Provide a good visual respresentation of U.S war deaths</li>
                                <li>Provide users access to other information about the U.S. wars</li>
                            </ul>
                        <h3>Personal:</h3>
                        <ul>
                            <li>Use basic aspects of React</li>
                            <li>use Sessions with flask to help with Authentication</li>
                            <li>Use D3.JS to display data</li>
                        </ul>
                    <hr/>
                    <h1 className='center'>Interest</h1>
                        <p>I am a former Marine Captain and I am very interested in
                        warfare. I also have to say that I am interested in how
                        people remember the wars. Thus, I decided to build this
                        site which would look at U.S. Causalites of all the major wars
                        that it has fought. I hope that it will allow people to have a
                        greater understanding of the sacrifice that the military makes.
                        </p>
                </div>
            )
        }
    })

    var Asidetwo = React.createClass({
        render: function(){
            return(
                <div className='Asidetwo'>
                    <h1 className='Asidetwo_heading'>War Info</h1>
                    <a href='https://en.wikipedia.org/wiki/American_Revolutionary_War'><h4 className='center link_color'>American Revolutionary War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Mexican%E2%80%93American_War'><h4 className='center link_color'>Mexican-American War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/American_Civil_War'><h4 className='center link_color'>Civil War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Spanish%E2%80%93American_War'><h4 className='center link_color'>Spanish-American War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/World_War_I'><h4 className='center link_color'>World War One</h4></a>
                    <a href='https://en.wikipedia.org/wiki/World_War_II'><h4 className='center link_color'>World War Two</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Korean_War'><h4 className='center link_color'>Korean War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Vietnam_War'><h4 className='center link_color'>Vietnam</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Gulf_War'><h4 className='center link_color'>Persian Gulf War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Iraq_War'><h4 className='center link_color'>Operation Iraqi Freedom</h4></a>
                    <a href='https://en.wikipedia.org/wiki/War_in_Afghanistan_(2001%E2%80%932014)'><h4 className='center link_color'>Operation Enduring Freedom</h4></a>
                </div>
            )
        }
    })

    // END OF HOME PAGE COMPONENTS

    //Start of Data components

    //Using the form in this component like this-I am not even sure if this is right.
    ///However, for the purposes of this project, it works.
    var Data = React.createClass({
    render: function() {
        return (
          <div>
            <Datahome/>
          </div>
        );
      }
  });

  var Datahome = React.createClass({
    render: function() {
      return (
        <div>
          <header className='data_home'>
              <section className='banner'>
                  <div class='inner'>
                      <h1>U.S. War Deaths</h1>
                      <hr/>
                      <h1>Examining the Data</h1>
                  </div>
              </section>
          </header>
          <div className='dataFlex'>
            <Asidedata/>
            <Datamain/>
          </div>
          <Footer/>
        </div>
        )
    }
  })

  var Asidedata = React.createClass({
      render: function(){
          return (
              <div className='dataAside'>
                <h1 className='center'>Help Section</h1>
                <p>On the right hand side the user will find different forms that
                may be filled out to look at specific data.</p>
                <p>The lines, between each data set, are what the user can look
                at. Thus, the user cannot select more than one area to see data and
                only one form may be selected at a time.</p>
                <p>The user may come back to this page though to look at a new data
                from a different form.</p>
              </div>
          )
      }
  })

  var Datamain = React.createClass({
      render: function(){
          return (
              <div className='dataMain'>
                <h1 className='center'>Data Choices</h1>
                <Wardeaths/>
                <hr/>
              </div>
          )
      }
  })

  var Wardeaths = React.createClass({
      render: function(){
          return (
              <div>
                <h3>By the numbers</h3>
                <p>Please enter a number and the data returned will be the wars
                which have that number and higher</p>
                <form class='form_three' method='POST' action='/death_numbers'>
                    <input name='number' type='NUMBER'/>
                    <input type='submit'/>
                </form>
              </div>
          )
      }
  })

  // END OF DATA COMPONENTS

  var Graph = React.createClass({
  render: function() {
      return (
        <div>
          <h2>Graph</h2>
          <p>Mauris sem velit, vehicula eget sodales vitae,
          rhoncus eget sapien:</p>
          <ol>
            <li>Nulla pulvinar diam</li>
            <li>Facilisis bibendum</li>
            <li>Vestibulum vulputate</li>
            <li>{{ name2 }}</li>
            <li>{{ name }}</li>
          </ol>
        </div>
      );
    }
});

//Footer Component
var Footer = React.createClass({
    render: function() {
        return (
            <div>
                <footer>
                    Copyright &copy; 2017 Double Sun Productions
                    <br/>
                    <p>
                      <a href="https://github.com/ravenusmc"><i className="fa fa-github fa-2x" aria-hidden="true"></i></a>
                      <a href="https://twitter.com/"><i className="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                      <a href="https://www.linkedin.com/in/mcuddy1/"><i className="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                    </p>
                </footer>
            </div>
        )
    }
})


ReactDOM.render(
  <Router history={ReactRouter.hashHistory}>
    <Route path="/" component={Navbar}>
    <IndexRoute component={Home}/>
    <Route path="data" component={Data} />
    <Route path="graph" component={Graph} />
    </Route>
  </Router>,
  destination
);

</script>


{% endblock %}
