{% extends 'base.html' %}

{% block body %}

<div id='container'>
</div>


<script type="text/babel">

    var { Router,
        Route,
        IndexRoute,
        IndexLink,
        hashHistory,
        Link } = ReactRouter;

    var destination = document.querySelector("#container");

    var Navbar = React.createClass({
        render: function(){
            return (
                <div>
                    <nav>
                        <ul>
                            <li><Link to="/">Home</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><Link to="/Data">Data</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><Link to="/Graph">Graph</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><a href='/logout'>Sign Out</a></li>
                        </ul>
                    </nav>
                    <div>
                        {this.props.children}
                    </div>
                </div>
            )
        }
    });

    //All of the components here will make up the Home Page
    var Home = React.createClass({
      render: function() {
        return (
          <div>
            <header className='head_home'>
                <section className='banner'>
                    <div class='inner'>
                        <h1>U.S. War Deaths</h1>
                        <hr/>
                        <h1>Examining Causalites in U.S. Wars</h1>
                    </div>
                </section>
            </header>
            <div className='homeFlex'>
                <Asideone/>
                <Main/>
                <Asidetwo/>
            </div>
            <Footer/>
          </div>
          )
      }
    })

    var Asideone = React.createClass({
        render: function() {
            return (
                <div className='asideOne'>
                    <aside>
                        <h1 className='center'>Memorial Videos</h1>
                        <h3>Vietnam Veterans Memoral Wall</h3>
                        <iframe width="325" height="315" src="https://www.youtube.com/embed/wuxjTxxQUTs" frameborder="0" allowfullscreen></iframe>
                        <h3>I was only 19</h3>
                        <iframe width="325" height="315" src="https://www.youtube.com/embed/1gmgwx77osw" frameborder="0" allowfullscreen></iframe>
                    </aside>
                </div>
            )
        }
    })

    var Main = React.createClass({
        render: function() {
            return (
                <div className='homeMain'>
                    <h1 className='center'>About the Project</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                        </p>
                    <hr/>
                    <h1 className='center'>Goals</h1>
                        <h3>For Site:</h3>
                            <ul>
                                <li>Provide access to U.S. Casualities during war</li>
                                <li>Provide a good visual respresentation of U.S war deaths</li>
                                <li>Provide users access to other information about the U.S. wars</li>
                            </ul>
                        <h3>Personal:</h3>
                        <ul>
                            <li>Use basic aspects of React</li>
                            <li>use Sessions with flask to help with Authentication</li>
                            <li>Use D3.JS to display data</li>
                        </ul>
                    <hr/>
                    <h1 className='center'>Interest</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                        </p>
                </div>
            )
        }
    })

    var Asidetwo = React.createClass({
        render: function(){
            return(
                <div className='Asidetwo'>
                    <h1 className='Asidetwo_heading'>War Info</h1>
                    <a href='https://en.wikipedia.org/wiki/American_Revolutionary_War'><h4 className='center'>American Revolutionary War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Mexican%E2%80%93American_War'><h4 className='center'>Mexican-American War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/American_Civil_War'><h4 className='center'>Civil War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Spanish%E2%80%93American_War'><h4 className='center'>Spanish-American War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/World_War_I'><h4 className='center'>World War One</h4></a>
                    <a href='https://en.wikipedia.org/wiki/World_War_II'><h4 className='center'>World War Two</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Korean_War'><h4 className='center'>Korean War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Vietnam_War'><h4 className='center'>Vietnam</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Gulf_War'><h4 className='center'>Persian Gulf War</h4></a>
                    <a href='https://en.wikipedia.org/wiki/Iraq_War'><h4 className='center'>Operation Iraqi Freedom</h4></a>
                    <a href='https://en.wikipedia.org/wiki/War_in_Afghanistan_(2001%E2%80%932014)'><h4 className='center'>Operation Enduring Freedom</h4></a>
                </div>
            )
        }
    })

    // END OF HOME PAGE COMPONENTS

    //Using the form in this component like this-I am not even sure if this is right.
    ///However, for the purposes of this project, it works.
    var Data = React.createClass({
    render: function() {
        return (
          <div>
            <h2>Data</h2>
            <p>Mauris sem velit, vehicula eget sodales vitae,
            rhoncus eget sapien:</p>
            <form  method='POST' action='/sex_results'>
                <p>Please select only one choice:
                <input type='radio' name='sex' value='male'/>Male
                <input type='radio' name='sex' value='female'/>Female
                <input type='submit'/>
                </p>
            </form>
          </div>
        );
      }
  });

  var Graph = React.createClass({
  render: function() {
      return (
        <div>
          <h2>Graph</h2>
          <p>Mauris sem velit, vehicula eget sodales vitae,
          rhoncus eget sapien:</p>
          <ol>
            <li>Nulla pulvinar diam</li>
            <li>Facilisis bibendum</li>
            <li>Vestibulum vulputate</li>
            <li>{{ name2 }}</li>
            <li>{{ name }}</li>
          </ol>
        </div>
      );
    }
});

//Footer Component
var Footer = React.createClass({
    render: function() {
        return (
            <div>
                <footer>
                    Copyright &copy; 2017 Double Sun Productions
                    <br/>
                    <p>
                      <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                      <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                      <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                    </p>
                </footer>
            </div>
        )
    }
})


ReactDOM.render(
  <Router history={ReactRouter.hashHistory}>
    <Route path="/" component={Navbar}>
    <IndexRoute component={Home}/>
    <Route path="data" component={Data} />
    <Route path="graph" component={Graph} />
    </Route>
  </Router>,
  destination
);

</script>


{% endblock %}
