{% extends 'base.html' %}

{% block body %}

<div id='container'>
</div>


<script type="text/babel">
    var { Router,
        Route,
        IndexRoute,
        IndexLink,
        hashHistory,
        Link } = ReactRouter;

    var destination = document.querySelector("#container");

    var Navbar = React.createClass({
        render: function(){
            return (
                <div>
                    <nav>
                        <ul>
                            <li><Link to="/">Home</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><Link to="/war_data">War data</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><Link to="/war_graph">War graph</Link></li>&nbsp;&nbsp;&nbsp;&nbsp;
                        </ul>
                    </nav>
                </div>
            )
        }
    });

    ReactDOM.render(
      <Router history={ReactRouter.hashHistory}>
        <Route path="/" component={Navbar}>
        </Route>
      </Router>,
      destination
    );

</script>


{% endblock %}
