{% extends 'base.html' %}

{% block body %}

<div id="nav"></div>
<div id='header'></div>



<script type="text/babel">

    var nav = document.querySelector('#nav')
    var headportion = document.querySelector('#header')

    ReactDOM.render (
        <nav>
            <ul>
                <li><a href="/">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="/war_data">War Data</a></li>
            </ul>
        </nav>,
        nav
    );

    ReactDOM.render (
        <header>
            <div>
                <h1>U.S. War Deaths</h1>
            </div>
        </header>,
        headportion
    );


</script>


{% endblock %}
